body {
  @apply overflow-hidden relative;
}
.container-eid {
  @apply h-screen flex justify-center items-center;
  background: linear-gradient(to bottom, #032841, #0a2e51);
  h1 {
    @apply text-xl text-white relative;
    /* animation: starBlinker linear infinite; */
  }
  h1::before {
    content: " ";
    @apply absolute rounded-full;
    border-left: 10px solid white;
    transform: rotate(-30deg);
    top: -100px;
    left: -130px;
    width: 150px;
    height: 150px;
  }
  .bg-img {
    background-image: url("../../images/mosque.png");
    @apply absolute bottom-0 left-0 w-4o6 bg-no-repeat bg-bottom;
    background-size: auto;
    height: 600px;
  }
}
.star-blink {
  @apply absolute bg-white rounded-full;
  box-shadow: 0 0 10px white, 0 0 20px white 0 0 40px white 0 0 80px white;
  animation : starBlinker infinite 2s;
}
/* h2{
background-color: aqua;
animation: starBlinker 500ms infinite;
} */
@keyframes starBlinker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
